


.section-top{
    background: url(../images/Banner_mage.png) no-repeat;
    width: 100%;
    height: 560px;
}
.section-top .row{ padding-top: 5%;}
.logo{    background: url(../images/Aster_logo_white.png) no-repeat;
  width: 239px;
  height: 150px;}
.aster-logo-white {
    width: 239px;
    height: 239px;
  }
  .adult-paediatric-b {
    color: #FFFFFF;
    font-family: Titillium;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 40px;
    width: 622px;
    text-align: left;
  }
  .haematology-oncolo {
    color: #FFFFFF;
    font-family: Stag Sans Light;
    font-size: 25px;
    letter-spacing: 3.59px;
    line-height: 34px;
    width: 599px;
    text-align: left;
  }
.Book-app{    background: #DD5A6A;
    color: #fff;}
  .enquire-form {
    background-color: #FFFFFF;
    box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
    width: 330px;
    height: auto;
    margin: auto;
    padding: 28px;
  }
  .enquire-now {
    color: #213559;
    font-weight: bolder;
    margin-bottom: 13%;
    font-size: 20.08px;
    line-height: 24px;
    width: 127px;
    text-align: left;
  }
  .enquire-form .form .form-control{margin-bottom: 10px;    
    padding: 10px 10px;    font-size: 14px;}
.form .Submit-btn{ background: #DD5A6A;    color: #fff;margin-top: 10%;}

/*about-section*/
.about-section{margin-top: 45px;}
.about-content{margin-top: 3%;}
.about-section .about-content .about-title{    border-radius: 4px;
  background-image: radial-gradient(#2EC4B8 11%, #6078EA 87%);
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #FFFFFF;
  padding: 22px 25px;
  font-weight: bold;}
  .about-section .about-content .content p{font-family: Stag Sans Light;
    color: #000000;
    font-size: 18px;
    line-height: 20px;margin: 9% 2px;
    text-align: left;    margin: 38px 2px;}
  /*  doctors-section*/
  .doctors-section .title h2{    color: #22B78E;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;}
  .doctors-section .block-tile{text-align: center;
    color: #22B78E;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    font-weight: bold;}
  .doctors-section .left-block,
  .doctors-section .right-block {    background-color: #F9F9FF;
      border-radius: 4px;
      text-align: center;}
.doctors-section .doctor-content img{margin-bottom: 24px;}
 .doctors-section .doctor-content h3{    color: #1D5AA6;
      font-size: 22px;
      letter-spacing: 1.76px;
      line-height: 26px;
      text-align: center;
      font-weight: bold;}
  .doctors-section .doctor-content h4{font-size: 16px;
        letter-spacing: 1.2px;
        line-height: 25px;
        text-align: center;
        font-weight: initial;
        color: #1D5AA6;} 
   .doctors-section .doctor-content p{    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 10px 33px;} 

    /*question-section*/
 .question-section{    margin-top: 50px;}
 .question-section h2{color: #22B78E;
      font-size: 31px;
      letter-spacing: 1.28px;
      line-height: 44px;
      text-align: left;font-weight: bold;}
  .question-section ul{list-style: none;}
  .question-section ul li{padding: 11px;}
  .question-section ul li::before{content: '';
    background: url(../images/hospital.png) no-repeat;
  width: 20px;height: 20px;padding: 0px 20px;
  vertical-align: middle;}
  .question-section ul li p{  Display: inline; max-width: 96%;    text-align: center;   }
/*warning-signs-section*/	
.warning-signs-section h2{color: #22B78E;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    font-weight: bold;
    display: block;
    width: 100%;}
.warning-signs-section .block{display: flex;
    flex-direction: row;
    flex-wrap: wrap;}	
.warning-signs-section .block .sub-block {
    background-color: #FFFFFF;
    border: 1px solid #E5EAFF;
    border-radius: 4px;
    box-shadow: 3px 5px 29px 0 rgb(187 165 228 / 10%);
    width: 255px;
    height: 170px;
    padding: 18px;margin: 15px;}
.warning-signs-section .block .sub-block p{padding-top: 10px;}	
/*faq-section*/
.faq-section{margin-top: 50px;}
.faq-section .main-block{    padding: 15px;}
.faq-section .main-block .question-block{color: #1D5AA6;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
	text-align: left;
    font-weight: bolder;
    padding-bottom: 15px;
	border-bottom: 1px solid #ECECFF;
}
.faq-section .main-block .question-block:after{content: '';
    background: url(../images/faq-icon.png) no-repeat;
    width: 21px;
    height: 15px;
    padding: 0px 13px 0px;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    float: right;
}
.faq-section ul.answer-block {list-style: none;margin-top: 20px;}
.faq-section ul.answer-block li{padding: 11px;}
.faq-section ul.answer-block li:before{content: '';background: url(../images/double-tick.png) no-repeat;
    width: 21px;
    height: 15px;
    padding: 0px 13px 0px;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;}
/*testimonials*/
.testimonials h2{font-size: 31px;
    letter-spacing: 1.28px;font-weight: 600;
    line-height: 44px;
    text-align: left;color: #22B78E;}	

.testimonials .main-title p{color: #000000;font-size: 15px;
    line-height: 21px;
    max-width: 609px;
    text-align: left;}	
	#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
 display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 10px;
}
.Testimonials-slider .card{    padding: 10px;
    border: 1px solid #f9f9f9;
    box-shadow: 0px 4px 8px #eee;}
.Testimonials-slider .card-header{display: flex;}
.Testimonials-slider .card-body{max-width: 350px;}
 .appoinment-button{    margin: 21px 5px;}
 .appoinment-button button{display: block;    margin: auto;}
 .owl-pagination{display: none;}
/*footer*/	
 footer{ background-color: #272727;position: relative;}
 
 footer .footer-top ul{list-style: none;
    display: flex;height: 100px;
    justify-content: center;align-items: center;}
 footer .footer-top ul li{padding: 5px;}	
  footer .footer-bottom{min-height: 100px;
    color: #eee;
    text-align: center;
   
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.21);}
footer .goto-top{position: absolute;
    top: 19%;
    right: 9%;}	